table {
    border-collapse: collapse;
}

td {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
}

.white {
    background: #FFCF73;
}

.black {
    background: #7a5000;
}

tr:last-child td:first-child {
    border-left: none;
    border-bottom: none;
}

.whiteFigure {
    color: white;
}

.blackFigure {
    color: black;
}

i {
    font-size: 35px;
    text-shadow: 1px 2px 5px grey;
}