body {
    margin: 0;
    padding: 0;
    background-color: #cccccc;
}

.wrapper {
    width: 80vw;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

.slider {
    height: 90vh;
    position: relative;
    overflow: hidden;
}

.slider-item {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.slider-item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.hidden-slide {
    visibility: hidden;
}

.fas.fa-spinner.fa-spin {
    font-size: 50px;
    color: #ccc;
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
}

.slider-leftArrow,
.slider-rightArrow {
    position: absolute;
    top: 47%;
    z-index: 6;
    color: #ccc;
    cursor: pointer;
    font-size: 50px;
}

.slider-leftArrow {
    left: 5%;
}

.slider-rightArrow {
    right: 5%;
}